*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
Manifest.toml
*.swp
test/.ipynb_checkpoints/test_generate_data-checkpoint.jl
.ipynb_checkpoints/
analog_forecasting.ipynb
time_series.ipynb
catalog.ipynb
examples/ex_analog_forecasting.ipynb
examples/test_monte_carlo.ipynb
examples/ex_model_forecasting.ipynb
examples/ex_catalog.ipynb
examples/sinus_data.ipynb
examples/lorenz96.ipynb
examples/ex_time_series.ipynb
examples/generate_data_from_function.ipynb
docs/src/examples
examples/kalman.ipynb
notebooks/test_AnDA.ipynb
notebooks/lorenz63.ipynb
notebooks/lorenz96.ipynb
